$row-width: 56em;
$primary-color: rgb(206,0,0);

@font-face {
  font-family: 'Stratum No1';
  src: url('assets/Stratum1WebBoldSub.eot');
  src: local('?'),
       url('assets/Stratum1WebBoldSub.woff') format('woff'),
       url('assets/Stratum1Bold.ttf')        format('truetype');
}

@import 'normalize';
@import 'foundation';

header {
  padding-top: 60px;
  padding-bottom: 20px;

  img {
    margin-top: -20px;
    max-width: 150px;
    width: 100%;
  }

  h1, h2.subheader {
    font-family: 'Stratum No1', $header-font-family;
    margin: 0;
  }

}

dl.programme {
  padding-left: emCalc(60px);
  dt {
    color: $header-font-color;
  }
  dd {
    color: $subheader-font-color;
  }
  time {
    font-family: 'Stratum No3', $header-font-family;
    color: $primary-color;
    width: emCalc(50px);
    float: left;
    display: inline;
    margin-left: emCalc(-60px);
  }
}
