%p Hi!

%p
  You have recently requested an invitation to join The Guild of Software
  Artisans at theguild.nl. This message confirms we have received your request
  and will get back to you shortly.

%p If you did no such thing, don't worry -- just ignore this message.

%p Kind regards,

%p The staff at The Guild
