.posts
  - if @posts.any?
    - post = @posts.shift
    %article[post, 'highlighted']
      %h2.post_title= link_to post.title, post, rel: 'bookmark'
      .pubdate= time_tag post.created_at.to_date, pubdate: true, class: 'post_date'
      .post_summary= markdown post.summary

    %ul.archive
      = render @posts

  - else
    %p There are no blog posts yet.
