.posts
  %h3 Blog
  - if @latest_post || @posts.any?
    - if @latest_post
      = render partial: 'latest_post', object: @latest_post, as: :post

    - if @posts.any?
      .archive
        %ul
          = render @posts

  - else
    %p There are no blog posts yet.

= render partial: 'events/index'
