.events {
  @include grid-column(6);

  ul {
    @extend .no-bullet;
  }
}

.event {
  h5, h2 {
    margin: 0;
  }
  margin-bottom: .5em;
}

.event_date {
  @extend small;
  text-transform: uppercase;
  letter-spacing: 1px;
}
