@font-face {
  font-family: 'Stratum No1';
  src: url(font-path("Stratum1WebBoldSub.eot"));
  src: local("?"), url(font-path("Stratum1WebBoldSub.woff")) format("woff"), url(font-path("Stratum1Bold.ttf")) format("truetype");
}

