#page {
  @include grid-row;
}

header {
  @include grid-row;
  margin-top: lines(2);

  h1 {
    @include grid-column(10);

    small {
      display: block;
      line-height: $header-line-height;
    }
  }

  .logo {
    @include grid-column(2);
    margin-top: lines(-1);
    margin-bottom: lines(1);
  }
}

.main {
  @include grid-row;
}

section[role="main"] {
  @include grid-column(9);
}

aside[role="complementary"] {
  @include grid-column(3);
}

footer[role="contentinfo"] {
  margin-top: lines(3);
  margin-bottom: lines(1);
  font-size: $small-font-size;
  color: $small-font-color;
  text-align: center;
}
