.post {
  .post_date {
    @extend small;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h5, h2 {
    margin: 0;
  }

  margin-bottom: .5em;
}

.posts {
  @include grid-column(6);
}

.highlighted_post {
  @extend .post;
}

.archive {
  ul {
    @extend .no-bullet;
  }
}
