%footer
  .footer
    .block#sponsors
      = link_to image_tag('kabisa-logo.png'), 'http://kabisa.nl'
      %br
      The Guild is a Kabisa initiative.

    .block#copyright
      Copy-Love #{Time.now.year} The Guild Staff

