%section.subscription
  %h2 Stay updated

  %p
    Subscribe to our mailinglist to get updates on The Guild news and events.

  %form(action="http://newsletter.kabisa.nl/t/r/s/jjuisk/" method="post" id="subForm")
    %input(type="email" placeholder="you@example.com" name="cm-jjuisk-jjuisk" id="jjuisk-jjuisk")
    %input(type="submit" value="Keep me posted")
